@img-size: 300px;

* {
  text-align: center;
  font-weight: 300;
}

body {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.42;
  margin: 0;
}

.profile-image {
  width: @img-size;
  height: @img-size;
}

.name {
  font-size: 3em;
  margin-top: 1em;
}

.about-me {
  list-style: none;
  font-size: 1.1em;
}

.description {
  font-size: 1.5em;
}

.content-center {
  padding-top: 1em;
}
