@quora-color: #AB382F;
@github-color: #25292E;
@twitter-color: #55acee;
@mail-color: #428bca;
@linkedin-color: #3176B0;
@medium-color: #11100E;
@stack-overflow-color: #E6853D;

.icon {
  font-size: 3em;
  display: inline;
  position: relative;
  transition: color 200ms;
}

.icon-lg {
  font-size: 4em;
}

.icon-quora {
  color: @quora-color;

  &:hover {
    color: lighten(@quora-color, 10%);
  }
}

.icon-medium {
  color: @medium-color;

  &:hover {
    color: lighten(@medium-color, 10%);
  }
}

.icon-stack-overflow {
  color: @stack-overflow-color;

  &:hover {
    color: lighten(@stack-overflow-color, 10%);
  }
}

.icon-github {
  color: @github-color;

  &:hover {
    color: lighten(@github-color, 10%);
  }
}

.icon-twitter {
  color: @twitter-color;

  &:hover {
    color: lighten(@twitter-color, 10%);
  }
}

.icon-envelope {
  color: @mail-color;

  &:hover {
    color: lighten(@mail-color, 10%);
  }
}

.icon-linkedin {
  color: @linkedin-color;

  &:hover {
    color: lighten(@linkedin-color, 10%);
  }
}

.flag-icon {
  position: relative;
  display: inline-block;
  width: 1.3em;
  line-height: 1em;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat
}

.flag-icon:before {
  content: "\00a0";
}

.flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

.flag-icon-si {
  background-image: url(../flags/si.svg);
}
