@img-size: 300px;
@github-color: #4183c4;
@facebook-color: #3b5998;
@twitter-color: #55acee;
@mail-color: #428bca;
@linkedin-color: #0077b5;
@stackoverflow-color: #ff9900;

a, a:hover {
    text-decoration: none;
}

.profile-image {
  width: @img-size;
  height: @img-size;
  background: 0 0 e('/') @img-size @img-size url(https://avatars.githubusercontent.com/u/6675751?size=300);
  margin: 0 auto;
  padding: 0;
}

.img-circle {
  border-radius: 50%;
}

.about-me {
  list-style: none;
  text-align: center;
  padding-left: 0;
  font-size: 1.1em;

  li {
    margin-top: 5px;
  }
}

.content-center {
    width: @img-size;
    margin: 0 auto;
    padding-top: 1em;
    text-align: center;
}

.description {
    font-size: 1.5em;
}

.icon {
    font-size: 3em;
    display: inline;
    position: relative;
}

.icon-github {
    color: @github-color;
    font-size: 4em;

    &:hover {
      color: lighten(@github-color, 10%);
    }
}

.icon-facebook {
    color: @facebook-color;

    &:hover {
      color: lighten(@facebook-color, 10%);
    }
}

.icon-twitter {
    color: @twitter-color;
    font-size: 2.5em;
    bottom: 3px;

    &:hover {
      color: lighten(@twitter-color, 10%);
    }
}

.icon-mail {
    color: @mail-color;
    bottom: -1px;

    &:hover {
      color: lighten(@mail-color, 10%);
    }
}

.icon-linkedin {
    color: @linkedin-color;

    &:hover {
      color: lighten(@linkedin-color, 10%);
    }
}

.icon-stackoverflow {
    color: @stackoverflow-color;
    bottom: 4px;

    &:hover {
      color: lighten(@stackoverflow-color, 10%);
    }
}
