@import "utils";

$img-size-sm: 100px;
$img-size-lg: 300px;
$icons-width: px-to-rem(160);
$footer-height: px-to-rem(50);

$quora-color: #ab382f;
$github-color: #25292e;
$twitter-color: #55acee;
$mail-color: #428bca;
$linkedin-color: #3176b0;
$medium-color: #11100e;
$stack-overflow-color: #e6853d;

a,
a:visited {
  text-decoration: none;
}

.profile-image {
  background-image: url("../img/profile.jpg");
  background-size: $img-size-lg $img-size-lg;
  background-position: 0 0;
  margin: 0 auto;
  padding: 0;
  border-radius: 50%;
}

.main {
  margin-bottom: $footer-height;
}

.about-me {
  padding-top: px-to-rem(8);

  li {
    margin-top: px-to-rem(8);
    padding: 0 px-to-rem(16);
  }
}

.link-fri {
  color: #cf3d32;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.icons {
  max-width: $icons-width;
  display: flex;
  justify-content: space-between;
}

.icon {
  font-size: px-to-rem(48);
  transition: color 200ms;
}

@mixin custom-icon($color) {
  color: $color;

  &:hover {
    color: lighten($color, 10%);
  }
}

.icon-quora {
  @include custom-icon($quora-color);
}

.icon-medium {
  @include custom-icon($medium-color);
}

.icon-stack-overflow {
  @include custom-icon($stack-overflow-color);
}

.icon-github {
  @include custom-icon($github-color);
  font-size: 4em;
}

.icon-twitter {
  @include custom-icon($twitter-color);
}

.icon-envelope {
  @include custom-icon($mail-color);
}

.icon-linkedin {
  @include custom-icon($linkedin-color);
}

.footer {
  height: $footer-height;
  width: 100%;
  bottom: 0;
  margin-bottom: px-to-rem(10);
  position: absolute;

  .flag-icon {
    font-size: px-to-rem(20);
    position: relative;
    top: px-to-rem(3);
  }
}
